.footer {
  background-color: #19204e;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 20px 0;
  margin-top: 80px;
}

.footer-layer-1,
.footer-layer-2,
.footer-layer-3 {
  margin-top: 40px;
}

.footer-layer-2 i {
  justify-content: space-between;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-layer-3 {
  color: #999999;
}

.footer-layer-1 a {
  text-decoration: none;
  color: #fff;
}

.footer-layer img {
  max-width: 100%;
  height: auto;
}
